# Default ignored files
/shelf/
/workspace.xml

# Datasource local storage ignored files
/../../../../../:\Workspace\Solomon Birichani\district-management-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

